<section class="wrapper__section p-0">
    <div class="wrapper__section__components">
        <!-- Footer -->
        <footer>
            <div class="wrapper__footer bg__footer-dark pb-0">
                <div class="mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="image-logo">
                                    <img src="/uploads/<%= logo[0].avatar %>" alt="" class="logo-footer"
                                         style="height: 50px">
                                </figure>
                            </div>
                            <div class="col-md-8 my-auto ">
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_kit_size_32 a2a_default_style"
                                     style="display: flex;justify-content: flex-end;">
                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_facebook_messenger"></a>
                                    <a class="a2a_button_pinterest"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_telegram"></a>
                                    <a class="a2a_button_vk"></a>
                                    <a class="a2a_button_odnoklassniki"></a>
                                    <a class="a2a_button_email"></a>
                                    <a class="a2a_button_google_gmail"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                    <a class="a2a_button_viber"></a>
                                    <a class="a2a_button_copy_link"></a>
                                </div>
                                <script async src="https://static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer bottom -->
            <div class="wrapper__footer-bottom bg__footer-dark">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top-1 bg__footer-bottom-section">
                                <ul class="list-inline link-column">
                                    <li class="list-inline-item">
                                        <a href="/">Գլխավոր</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/category/1">Լուրեր</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/about">Մեր մասին</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="contact">Կապ</a>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
											<span>
                                                © Բոլոր իրավունքները պաշտպանված են
												| <a href="http://armcoding.com/" target="_blank">ArmCoding</a>
											</span>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</section>


<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<!--<script src="js/script.js"></script>-->
<script src="js/index.bundle.js"></script>


</body>

</html>