.detail-imgs img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.total-views {
    margin-top: 20px;
    display: flex !important;
    justify-content: flex-end;
    border: 1px solid #eee;
    padding: 10px;
}