.detail-imgs img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.total-views {
    margin-top: 20px;
    display: flex !important;
    justify-content: flex-end;
    border: 1px solid #eee;
    padding: 10px;
}

.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}

.urgently-field {
    display: flex;
}

.img-box {
    width: 40%;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    width: 60%;
}

.modal-body {
    padding: 0;
}